{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" id="loginForm">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% if error %}
            {% for field, error in error.items %}
                <p style="color: red; font-weight: bold;">{{ field }}: {{ error }}</p>
            {% endfor %}
        {% endif %}
        <button type="submit">Login</button>
        <a href="{% url 'accounts:register' %}">Register</a>
        <a href="{% url 'accounts:recover-password' %}">Reset Password</a>
    </form>
</html>