body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}

table td {
    padding: 10px 0;
    vertical-align: middle;
}

p {
    margin: 5px 0;
}

p[style*="color: red;"] {
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
}

a.button {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #2980b9;
}

.button-group {
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

.note {
    background-color: white;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}